<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{title}</title>
        <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/all.min-jsf.css" />
        <h:outputStylesheet library="webjars" name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
        <h:outputStylesheet library="common-resources" name="css/primeflex.css" /> 
    </h:head>
    
    <h:body>
        <h:form id="text">
            <p:inputText id="float-input" value="#{websockerUpdater.text}" />
        </h:form>
       

        <h:form>
            <f:websocket channel="gui" >
                <f:ajax event="update" render=":text" />
            </f:websocket>
            <p:commandButton value="+"  action="#{websockerUpdater.add}" style="margin-right:20px;" ajax="false" />
        </h:form>
       
            
    </h:body>
</html>